<div class="jumbotron jumbo-ttr">
  <h1 class="display-4 display-sec">
  <%= @friend.first_name %> <%= @friend.last_name %>
  </h1>
  <p class="lead">
  <%= @friend.email %> | <%= @friend.phone %> | <%= @friend.twiter %>
  </p>
  <div>
    <%= link_to "Edit this friend", edit_friend_path(@friend), class: "btn btn-secondary" %>
    <%= link_to "Back to friends", friends_path, class: "btn btn-dark my-dark" %>
    <br>
    <br>
    <%= button_to "Destroy this friend", @friend, method: :delete, class: "btn btn-danger my-destroy" %>
</div>
</div>




